{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Bienvenue à Eilinoya Events</title>
{% endblock %}

{% block content %}
<!-- intro -->
<section>
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center bg-light" style="height: 100vh">
      <div class="col-lg-10 text-center">
        <h1 class="display-2 text-capitalize">bienvenue à <span style="color: #5f0856;" class="fw-semibold">Eilinoya Events</span></h1>
        <h3 class="lead">L'endroit pour le vin et l'événementiel</h3>
        <a href="{% url 'contact' %}" class="btn btn-primary btn-lg px-4">Contacts</a>
      </div>
    </div>
  </div>  
</section>
<!-- wine section -->
<section class="bg-dark mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col p-0">
          <img src="{% static 'images/wine_homepage.jpg' %}" class="img-fluid" alt="wine_homepage">
      </div>
    </div>  
  </div>
</section>
<!-- end of wine section -->
{% endblock %}