{% extends 'base_2.html' %}
{% load static %}
{% block title %}
<title>Bienvenue à Eilinoya Events</title>
{% endblock %}

{% block content %}
<!-- wine section -->
<section class="p-5 bg-white">
  <div class="container-fluid">
    <div class="row">
      <!-- title -->
      <div class="row text-secondary text-center">
        <div class="col m-4">
            <h1 class="display-4 mb-4">Galerie Photos</h1>
            <div class="underline-dark mb-4"></div>
            <p class="lead">Voir example d'événements précédents.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mx-auto">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
          <div class="carousel-inner carousel-shadow">
            <div class="carousel-item active">
              <a href="#"><img src="{% static 'images/eili_front_1.jpg' %}" class="d-block w-100" alt="eilinoya1"></a>
            </div>
            <div class="carousel-item">
              <a href="#"><img src="{% static 'images/eili_front_2.jpg' %}" class="d-block w-100" alt="eilinoya2"></a>
            </div>
            <div class="carousel-item">
              <a href="#"><img src="{% static 'images/eili_front_3.jpg' %}" class="d-block w-100" alt="eilinoya3"></a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-5 bg-secondary">
  <div class="container-fluid">
    <div class="row">
      <!-- title -->
      <div class="row text-white text-center">
        <div class="col m-4">
            <h1 class="display-4 mb-4">Collection Vins</h1>
            <div class="underline mb-4"></div>
            <p class="lead">Découvrez notre collection vins.</p>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-sm-6 col-lg-4 text-center border-0 ">
          <div class="card card-shadow card-item">
            <a href="{% url 'vins' %}"><img src="{% static 'images/chateau_homepage.jpg' %}" class="card-img" alt="Wine" ></a>
            <div class="card-img-overlay">
              <h5 class="card-title collection-heading text-white text-uppercase fw-bold">Château</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 text-center border-0 mt-3">
          <div class="card card-shadow card-item">
            <a href="{% url 'vins' %}"><img src="{% static 'images/merlot_homepage.jpg' %}" class="card-img" alt="Wine" ></a>
            <div class="card-img-overlay">
              <h5 class="card-title collection-heading text-white text-uppercase fw-bold">Merlot</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 text-center border-0 mt-5">
          <div class="card card-shadow card-item">
            <a href="{% url 'vins' %}"><img src="{% static 'images/cabernet_homepage.jpg' %}" class="card-img" alt="Wine" ></a>
            <div class="card-img-overlay">
              <h5 class="card-title collection-heading text-white text-uppercase fw-bold">Bordeaux</h5>
            </div>
          </div>
        </div>
    </div>
    </div>  
  </div>
</section>
<!-- end of wine section -->
{% endblock %}