body {
    font-family: 'Montserrat', 'sans-serif';
}

/* navigation */
header {
    height: 23vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
}

header.index-page {
    height: 200vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),
    url("/static/images/home_palm_tree.jpg") no-repeat center center /cover;
}

.nav-menu {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8));
    padding: 25px;
}

.custom-navbar {
    padding: 5px 25px;
}

.nav-item {
    letter-spacing: 1.5px;
}

.logo-text {
    font-family: "Qwigley", cursive;
}

/* title */
.underline-dark {
    width: 150px;
    border: 3px solid #888;
    margin: auto;
}

.underline {
    width: 150px;
    border: 3px solid #eee;
    margin: auto;
}

/* collection */
.collection-heading {
    background: #3d3d3d;
    text-align: end;
    position: absolute;
    top: 85%;
    right: 0;
    font-size: 16px;
    width: 70%;
    letter-spacing: 1px;
    opacity: 0.7;
    cursor: pointer;
    transition: all .7s;
}

.collection-heading:hover {
    opacity: 1;
}

.card-shadow {
    box-shadow: 5px 8px 20px #444;
    background: linear-gradient(rgba(255, 255, 255, 0.3),rgba(245, 201, 201, 0.6));
}

.card-item {
    transition: all .5s;
}

.card-item:hover {
    transform: translateY(-10px);
    cursor: pointer;
}


.carousel-shadow {
    box-shadow: 5px 8px 20px #bebebe;
    transition: all .3s;
}

.carousel-shadow:hover {
    cursor: pointer;
    box-shadow: 5px 8px 30px #706f6f;
}

/* contact */
.google-map {
    padding-bottom: 50%;
    position: relative;
    box-shadow: 1px 2px 5px #585858;
}

.google-map iframe {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.google-map:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-1px);
}

.logo:hover {
    transform: translateY(-1px);
}

/* banner */
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.banner-heading {
    animation-name: anim;
    animation-duration: 3s;
}

.banner-par {
    animation-name: anim;
    animation-duration: 3s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

@keyframes anim {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

