body {
    font-family: 'Montserrat', 'sans-serif';
}

/* navigation */
header {
    height: 23vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
}

header.index-page {
    height: 200vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),
    url("/static/images/home_palm_tree.jpg") no-repeat center center /cover;
}

.nav-menu {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8));
    padding: 30px;
}

.custom-navbar {
    padding: 5px 30px;
}

.nav-item {
    letter-spacing: 1.5px;
}

.logo-text {
    font-family: "Qwigley", cursive;
}

/* contact */
.google-map {
    padding-bottom: 50%;
    position: relative;
    box-shadow: 1px 2px 5px #999;
}

.google-map iframe {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.google-map:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-1px);
}

.logo:hover {
    transform: translateY(-1px);
}

/* banner */
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.banner-heading {
    animation-name: anim;
    animation-duration: 3s;
}

.banner-par {
    animation-name: anim;
    animation-duration: 3s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

@keyframes anim {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

